<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=show.name%></title>
</head>
<body>
    <ul>
        <li>
            <h1>
                <%=show.name%>
            </h1>
        </li>
        <li>
            <%=show.damage%>
        </li>
        <li>
            <%=show.weight%>
        </li>
        <li>
            <%=show.properties%>
        </li>
        <br>
        <div>
            <form action="/items/<%=show.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Trash Item">
            </form>
                <button onclick="window.location.href='/items/<%=show.id%>/edit';">
                    Edit
                </button>
            
            <nav>
                <button onclick="window.location.href='/items';">
                    Back
                </button>
            </nav>
            </div>
    </ul>
</body>
</html>