<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">

    <title>
        <%=show.items.itemName%>
    </title>
</head>

<body>
    <ul>
        <li>
            <h1>
                <%=show.items.itemName%>
            </h1>
        </li>
        <li>
            <%=show.items.damage%>
        </li>
        <li>
            <%=show.items.weight%>
        </li>
        <li>
            <%=show.items.properties%>
        </li>
        <br>
        
        <div>
            <form action="/items/<%=show.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Trash Item">
            </form>

            <button onclick="window.location.href='/items/<%=show.id%>/edit';">
                Edit
            </button>

            <nav>
                <button onclick="window.location.href='/items';">
                    Back
                </button>
            </nav>
        </div>
    </ul>
</body>

</html>