<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">

    <title>Edit Spell</title>
</head>
<body>
    <h1>
        Edit Spell
    </h1>

    <form action="/spells/<%=editSpell.id%>?_method=PUT" method="POST">
        <input type="text" placeholder="name" name="spells.spellName" value="<%=editSpell.spells.spellName%>">
        <input type="text" placeholder="level" name="spells.level" value="<%=editSpell.spells.level%>">
        <input type="text" placeholder="spell type" name="spells.spellType" value="<%=editSpell.spells.spellType%>">
        <input type="text" placeholder="casting time" name="spells.castingTime" value="<%=editSpell.spells.castingTime%>">
        <input type="text" placeholder="range" name="spells.range" value="<%=editSpell.spells.range%>">
        <input type="text" placeholder="components" name="spells.components" value="<%=editSpell.spells.components%>">
        <input type="text" placeholder="duration" name="spells.duration" value="<%=editSpell.spells.duration%>">
        <input type="text" placeholder="description" name="spells.description" value="<%=editSpell.spells.description%>">
        <input type="text" placeholder="at higher levels" name="spells.atHigherLevels" value="<%=editSpell.spells.atHigherLevels%>">
        <input type="text" placeholder="short description" name="spells.shortDescription" value="<%=editSpell.spells.shortDescription%>">
        <input type="text" placeholder="user notes" name="spells.userNotes" value="<%=editSpell.spells.userNotes%>">
        <input type="submit" value="Edit Spell">
    </form>

    <nav>
        <button onclick="window.location.href='/spells/<%=editSpell.id%>';">
            Back
        </button>
    </nav>

</body>
</html>